.deps/
.dirstamp
.libs/
.vim*
*.bak
*.t2p
aclocal.m4
autom4te.cache/
config.h*
config.log
config.status
configure
doc/*.pdf
doc/*.info
libtool
literature/
Makefile
Makefile.in
output/
src/libgpdgc*
stamp-h1
tags
test/generate_process_key
test/gpdgc_instance_test
test/lib*
test/src/*.o
test/src/behaviors/*.lo
TODO
vgcore*
